.App {
  margin: 0;
  color: orange;
  text-align: center;
  height: 100vh;
}



.groceriesList:hover {
  color: darkorange;
  font-weight: bold;
}

.navbar {
  display: grid;
  grid-template-columns: 60% 40%;
}

.navButton {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 100px));
  align-items: center;
  justify-items: end;

}

a {
  color: orange;
  text-decoration: none;
}

.added {
  font-weight: bold;
  color: pink;
  font-size: large;
}